
@media (min-width: 768px) {
  nav ul {
    justify-content: flex-start;
  }

  #members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
  }

  .member {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
  }

  .list #members {
    display: block;
  }

  .list #members .member {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .list #members .member img {
    max-width: 100px;
    margin-right: 1rem;
  }
}
